<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
<style>
	.line{
		border-bottom: 1px solid #ff8b77;
	}
</style>
<script src="/js/reply.js"></script>
<title>Get</title>
</head>
<body>
	<h1>게시글 상세보기</h1>
	<form method="post" action="/board/remove" th:object="${board}">
	<h4>번호</h4><input name="bno" type="text" th:field="*{bno}" readonly>
	<h4>제목</h4><input name="title" type="text" th:field="*{title}" readonly>
	<h4>내용</h4>
	<textarea name="content" rows="6" th:text="*{content}" readonly></textarea>
	<h4>작성자</h4>
	<input name="writer" type="text" th:field="*{writer}" readonly>
	<br>
	<input type="button" value="수정" onclick="goUpdate()">
	<input type="submit" value="삭제">
	<br>
	<strong class="fa fa-camera-retro fa-lg">댓글</strong><br>
	<a href="javascript:void(0)" class="register">댓글 등록</a>
	<div class="register-form" style="display:none;">
		<h4>작성자</h4>
		<input type="text" name="replier" placeholder="Replier"/>
		<h4>댓글</h4>
		<textarea rows="6" name="reply" placeholder="Reply"></textarea>
		<br>
		<a href="javascript:void(0)" class="finish btn btn-info">등록</a>
		<input type="button" class="cancel btn btn-danger" value="취소">
	</div>
	
	<ul class="replies">
		
	</ul>
	<!--  
	<strong>user01</strong>
	<p>Nice Shot!!</p>
	<div class="line"></div>
	-->	
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:inline="javascript">
	function goUpdate(){
		let bno = [[${board.getBno()}]]
		location.href='/board/modify?bno=' + bno;
	}
</script>
<script>

	$(document).ready(function(){
		console.log("JS TEST");
		
		let bnoValue = [[${board.getBno()}]]
		let replyUL = $(".replies");
		let pageNum = 1;
		showList(pageNum);
		a
		$(".register").on("click", function(e){
			$(".register-form").show();
			$(this).hide();
		});
		
		$(".cancel").on("click", function(e){
			$(".register-form").hide();
			$(".register").show();
		});
		
		$(".finish").on("click", function(){
			let replier= $("input[name='replier']").val();
			let reply = $("textarea[name='reply']").val();
			console.log(replier + " : " + reply);
			if(replier =="" || reply == ""){return;}
			
			replyService.add({bno:bnoValue, reply : reply , replier : replier},
				function(result){
					console.log(result);
					alert(result);
					$("input[name='replier']").val("");
					$("textarea[name='reply']").val("");
					$(".register-form").hide();
					$(".register").show();
					pageNum=1;
					showList(pageNum);
				}
			);
		});
		
		
		function showList(page){
			replyService.getList({bno : bnoValue, page : page || 1},
					function(list){
						let str = "";
						if(list == null || list.length == 0){
							replyUL.html("");
							return;
						}
						console.log("There are some replies");
						for(let i=0, len=list.length; i<len; i++){
							console.log(list[i].replier);
							str += "<li class='line' style='display:block' data-rno='" +list[i].rno+ "'>"
							str += "<strong>" + list[i].replier + "</strong>" + " : " + list[i].replydate;
							str += "<p>" + list[i].reply + "<p>";
							str += "</li>"
						}
						replyUL.html(str);
					});
		}
		
		

		/*
		replyService.add(
			{reply:"JSTEST", replier:"tester", bno:bnoValue},
			function(result){
				alert("RESULT : " + result);
			}
		);
		
		*/
		/*
		replyService.getList(
			{bno:bnoValue, page:1}, 
			function(list){
				console.log(list);
			}		
		)
		*/
		/*
		replyService.remove(30, 
			function(result){
				alert("result : " + result);
			}	
		);
		*/
		/*
		replyService.update(
			{rno : 40, bno : bnoValue, reply : "Modified by JS"},
			function(result){
				alert("result : " + result)
			}
		);
		*/
		replyService.get(50,
				function(result){
					console.log(result);
				}
		);
			
	})
</script>
</html>